:root {
  --primery-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --names-color: #212121;
  --text-color: #757575;
  --elements-color: #ffff;
  --backfround-non-active-button: #f5f4fa;
  --backfround-active-button: #188ce8;
  --background-button: #2196f3;
  --transition-dur-fun: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sign-up, .social-media-footer-link, .clients__link, .service__discribe, .close-btn, .social__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul,
li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
}

body {
  font-family: var(--primery-font);
  background: white;
  color: var(--text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.from-h3-to-text {
  margin-bottom: 10px;
}

.from-h2-to-content {
  margin-bottom: 50px;
}

.social__item {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: background-color var(--transition-dur-fun), color var(--transition-dur-fun);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  color: var(--elements-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-dur-fun), visibility var(--transition-dur-fun);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--elements-color);
  padding: 40px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--elements-color);
  fill: var(--text-color);
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  transition: fill var(--transition-dur-fun), filter var(--transition-dur-fun);
}
.close-btn:focus, .close-btn:hover {
  fill: var(--accent-color);
}
.close-btn:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.contact-form-title {
  font: var(--primery-font);
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-for-fill {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border var(--transition-dur-fun);
}
.form-for-fill:focus, .form-for-fill:hover {
  border: 1px solid var(--accent-color);
  outline: none;
}

.claim {
  display: block;
  font-family: var(--primery-font);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
  margin-bottom: 4px;
}

.fill-box-wrapper {
  display: block;
  position: relative;
}

.contact-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.icon-ident {
  margin-bottom: 10px;
}

.icon-color-change {
  transition: fill var(--transition-dur-fun);
}
.form-for-fill:focus + .contact-icon .icon-color-change, .form-for-fill:hover + .contact-icon .icon-color-change {
  fill: var(--accent-color);
}

.comment-style {
  margin-bottom: 20px;
}

.form-for-fill-comment {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--transition-dur-fun);
}
.form-for-fill-comment::placeholder {
  font-family: var(--primery-font);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-for-fill-comment:focus, .form-for-fill-comment:hover {
  border: 1px solid var(--accent-color);
  outline: none;
}

/*------checkbox----*/
.check-box-form {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.checkbox {
  position: relative;
  margin: 0;
}

.link-agree {
  color: var(--accent-color);
}

.icon-agree-checked {
  background-color: transparent;
  border-radius: 2px;
  border: 2px solid #212121;
  margin-right: 8px;
}
.checkbox:focus + .icon-agree-checked {
  box-shadow: 0 0 0 1px var(--accent-color);
}
.checkbox:checked + .icon-agree-checked {
  background-color: #2196f3;
  border: none;
}

.icon-agree-color-active {
  display: none;
  background: #ffffff;
}

.icon-agree-color-active {
  position: absolute;
  left: 0;
  top: 0;
}
.checkbox:checked + .icon-agree-checked .icon-agree-color-active {
  display: block;
}

.btn-submit-form {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  color: var(--elements-color);
  background-color: var(--background-button);
  min-width: 216px;
  padding: 10px 32px;
  transition: background-color var(--transition-dur-fun);
}
.btn-submit-form:hover, .btn-submit-form:focus {
  background-color: var(--backfround-active-button);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: green;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--transition-dur-fun), visibility var(--transition-dur-fun);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.mobile-menu__close-icon {
  width: 40px;
  height: 40px;
}

.mobile-menu__container {
  position: relative;
  padding-left: 40px;
}

.feartures__list {
  display: flex;
  column-gap: 30px;
}

.features__general {
  display: flex;
  min-width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  margin-bottom: 30px;
}

.feature-antenna {
  align-items: center;
  justify-content: center;
}

.feature-clock,
.feature-diagram,
.feature-astronaut {
  align-items: center;
  justify-content: center;
}

.feartures__title {
  max-width: 270px;
}

.feartures__name {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--names-color);
}

.features__discription {
  font-weight: 400;
  line-height: 1.71;
}

.open-btn {
  padding: 0;
  background-color: transparent;
  border: none;
  line-height: 0;
  margin: 0;
}

.open-btn__icon {
  fill: var(--names-color);
}

.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .navigation__list {
    display: none;
  }
  .contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .open-btn {
    display: none;
  }
  .navigation__list {
    display: block;
  }
  .contacts {
    display: block;
  }
}
.service {
  background-color: #2f303a;
  text-align: center;
  padding: 200px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.2509803922), rgba(47, 48, 58, 0.2509803922)), url(../images/Hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}
.service__title {
  width: 696px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--elements-color);
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.service__button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  color: var(--elements-color);
  background-color: var(--background-button);
  min-width: 216px;
  padding: 10px 32px;
  transition: background-color var(--transition-dur-fun);
}
.service__button:hover, .service__button:focus {
  background-color: var(--backfround-active-button);
}

.services {
  padding-top: 0;
}

.services__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  color: var(--names-color);
}

.services__list {
  display: flex;
  column-gap: 30px;
}

.service__overlay {
  position: relative;
}

.service__discribe {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.5019607843);
  color: var(--elements-color);
  position: absolute;
  bottom: 0;
}

.team__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  color: var(--names-color);
  margin-bottom: 50px;
}

.team {
  background-color: #f5f4fa;
}

.team__description {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__position {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team__list {
  display: flex;
  column-gap: 30px;
}

.team__person {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  color: var(--names-color);
}

.team__skills {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.16;
  margin-bottom: 16px;
}

.clients {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--names-color);
}

.clients__link {
  width: 170px;
  height: 92px;
  border: #afb1b8 solid 1px;
  color: #afb1b8;
  border-radius: 4px;
  transition: border var(--transition-dur-fun), color var(--transition-dur-fun);
}
.clients__link:hover, .clients__link:focus {
  border: var(--accent-color) solid 1px;
  color: var(--accent-color);
}

.clients__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients__logo {
  width: 106px;
  height: 60px;
  fill: currentColor;
  transition: color var(--transition-dur-fun);
}
.clients__logo:hover, .clients__logo:focus {
  color: var(--accent-color);
}

.clients__list {
  display: flex;
  column-gap: 30px;
}

.footer-logo,
.footer-logo-style {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.footer-logo:focus, .footer-logo:hover,
.footer-logo-style:focus,
.footer-logo-style:hover {
  color: var(--accent-color);
}

.footer-logo {
  color: var(--accent-color);
}

.footer-logo-style {
  color: var(--elements-color);
}

.connection {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 20px;
}

.container-for-adress {
  margin-right: 70px;
}

.footer-page {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address-map,
.address-mail,
.number-call {
  font-family: inherit;
  font-weight: 400;
  font-style: normal;
  line-height: 1.71;
}

.connect-address {
  margin-top: 20px;
}

.connect-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-map {
  color: var(--elements-color);
  transition: color var(--transition-dur-fun);
}

.address-mail,
.number-call {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-dur-fun);
}

.address-map:hover,
.address-mail:hover,
.address-mail:focus,
.number-call:hover,
.number-call:hover,
.address-map:focus,
.number-call:focus,
.number-call:focus {
  color: var(--accent-color);
}

.navigation-list .link.current {
  color: var(--accent-color);
}

.footer {
  display: flex;
  align-items: baseline;
}

.social-media-footer {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.social-media-footer-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.062745098);
  transition: background-color var(--transition-dur-fun);
}
.social-media-footer-link:hover, .social-media-footer-link:focus {
  background-color: var(--accent-color);
}

.social-media-item-footer {
  display: block;
  width: 20px;
  height: 20px;
  margin: 12px;
}

.footer-link {
  fill: #ffffff;
}

.call-to-action {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--elements-color);
  margin-bottom: 20px;
}

.submit {
  display: flex;
  justify-content: center;
  column-gap: 12px;
}

.enter-email {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: white;
  padding-left: 16px;
}

.enter-button {
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--elements-color);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.sign-up {
  column-gap: 10px;
  padding: 10px 28px;
}

.container-for-social {
  margin-right: auto;
}/*# sourceMappingURL=main.css.map */