@import './utils/variables';
@import './utils/placeholders';
@import './utils/vissualy-hidden';
@import './utils/mixin';

@import './base/common';
@import './base/section';
@import './base/container';

@import './components/sociallist';
@import './components/titlestyle';

@import './layout/header';
@import './layout/portfolio';
@import './layout/footer';
