.footer-logo,
.footer-logo-style {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}
.footer-logo {
  color: var(--accent-color);
}
.footer-logo-style {
  color: var(--elements-color);
}

.connection {
  @include font(14px, 700);
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 20px;
}
.container-for-adress {
  margin-right: 70px;
}
.footer-page {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address-map,
.address-mail,
.number-call {
  font-family: inherit;
  font-weight: 400;
  font-style: normal;
  line-height: 1.71;
}
.connect-address {
  margin-top: 20px;
}
.connect-item:not(:last-child) {
  margin-bottom: 9px;
}
.address-map {
  color: var(--elements-color);
  transition: color var(--transition-dur-fun);
}
.address-mail,
.number-call {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-dur-fun);
}
.address-map:hover,
.address-mail:hover,
.address-mail:focus,
.number-call:hover,
.number-call:hover,
.address-map:focus,
.number-call:focus,
.number-call:focus {
  color: var(--accent-color);
}
.navigation-list .link.current {
  color: var(--accent-color);
}

.footer {
  display: flex;
  align-items: baseline;
}
.social-media-footer {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.social-media-footer-link {
  @extend %align;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff10;
  transition: background-color var(--transition-dur-fun);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social-media-item-footer {
  display: block;
  width: 20px;
  height: 20px;
  margin: 12px;
}
.footer-link {
  fill: #ffffff;
}
.call-to-action {
  @include font(14px, 700);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--elements-color);
  margin-bottom: 20px;
}
.submit {
  display: flex;
  justify-content: center;
  column-gap: 12px;
}
.enter-email {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: #ffff;
  padding-left: 16px;
}
.enter-button {
  width: 200px;
  height: 50px;
  @include font(16px, 700);
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--elements-color);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.sign-up {
  @extend %align;
  column-gap: 10px;
  padding: 10px 28px;
}
.container-for-social {
  margin-right: auto;
}
