:root {
  --primery-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --names-color: #212121;
  --text-color: #757575;
  --elements-color: #ffff;
  --backfround-non-active-button: #f5f4fa;
  --backfround-active-button: #188ce8;
  --background-button: #2196f3;
  --transition-dur-fun: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
